<section class="cooking">
    <div class="container cooking__wrap">
        <h2 class="cooking__title">HOW IT’S <span class="cooking__span">MADE?</span></h2>
        <div class="cooking__wrapper">
            <picture>
                <source srcset="./img/desctop/hands-desktop@1x.webp 1x, ./img/desctop/hands-desktop@2x.webp 2x" media="(min-width: 1136px)">
                <source srcset="./img/tablet/hands-tablet@1x.webp 1x, ./img/tablet/hands-tablet@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="./img/mobile/hands-mobile@1x.webp 1x, ./img/mobile/hands-mobile@2x.webp 2x" media="(max-width: 767px)">
                <img src="./img/hands.webp" alt="someone cooking" class="cooking__img">
            </picture>
        <div class="cooking__box">
            <h3 class="cooking__subtitle">Try  our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="cooking__list">
        <li class="cooking__item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
        <li class="cooking__item">At the same time, prepare a water bath. Melt the butter on it.</li>
        <li class="cooking__item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
        <li class="cooking__item">Heat the mixture over low heat, letting it barely boil.</li>
        <li class="cooking__item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
    </ul>
</div>
</div>
    </div>
</section>