<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      <span class="reviews__span">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./img/desctop/vica-desktop@1x.webp 1x,
              ./img/desctop/vica-desktop@2x.webp 2x
            "
            media="(min-width: 1136px)"
          />
          <source src="../img/tablet/" media="(min-width: 704px)" />
          <source src="../img/mobile/" media="(max-width: 703px)" />
          <img src="./img/vica-rev.webp" alt="Victoria" class="reviews__img" />
        </picture>
        <div class="reviews__div">
          <h3 class="reviews__name">Victoria Dobrzhanska</h3>
          <p class="reviews__text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./img/desctop/nazar-desktop@1x.webp 1x,
              ./img/desctop/nazar-desctop@2x.webp 2x
            "
            media="(min-width: 1136px)"
          />
          <source
            srcset="
              ./img/tablet/nayar-tablet@1x.webp 1x,
              ./img/tablet/nayar-tablet@2x.webp 2x
            "
            media="(min-width: 704px)"
          />
          <img
            src="./img/babenko-reviews.webp"
            alt="Nazar"
            class="reviews__img"
          />
        </picture>
        <div class="reviews__div">
          <h3 class="reviews__name">Nazar Babenko</h3>
          <p class="reviews__text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./img/desctop/olena-desktop@1x.webp 1x,
              ./img/desctop/olena-desktop@2x.webp 2x
            "
            media=" (min-width: 1200px)"
          />
          <img
            src="./img/olena-reviews.webp"
            alt="Olena"
            class="reviews__img"
          />
        </picture>
        <div class="reviews__div">
          <h3 class="reviews__name">Olena Kampusch</h3>
          <p class="reviews__text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <ul class="slide">
      <li class="slide__item"><button class="slidem__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
    </ul>
    <ul class="reviews__button">
      <li class="button__item">
        <button type="button" class="reviews__btn" data-modal-open-reviews>
          Leave a review
        </button>
      </li>
    </ul>
  </div>
</section>
