<section class="types">
  <div class="container">
    <h1 class="types__title">
        IT ALL ADDS UP TO ONE <br>  EXCEPTIONAL  TASTE SENSATION
    </h1>
    <h2 class="types__titles">
      At Simply Chocolate, we believe that the secret to exceptional chocolate <br>
      
      is in the details. From the sourcing of the finest ingredients to the <br>
      
      careful crafting of each individual piece, every step of our process adds <br>
    
      up to one exceptional taste sensation.
    </h2>
    <ul class="types__list">
      <li class="types__sublist">
        <div class="types__color">
        <img
          src="./img/chocolatetypes.webp"
          alt="milk chokolate"
          class="types__img"
        />
        <p class="types__text"> MILK CHOKOLATE</p>
    </div>
      </li>
      <li class="types__sublist">
        <div class="types__color">
        <img src="./img/miltypes.webp" alt="milk" class="types__img" />
        <p class="types__text">MILK</p>
    </div>
      </li>
      <li class="types__sublist">
        <div class="types__color">
        <img src="./img/nutstypes.webp" alt="nuts" class="types__img" />
        <p class="types__text">NUTS</p>
    </div>
      </li>
      <li class="types__sublist">
        <div class="types__color">
        <img
          src="./img/chocpiecestypes.webp"
          alt="semi sweet chocolate"
          class="types__img"
        />
        <p class="types__text">SEMI - SWEET CHOCOLATE</p>
    </div>
      </li>
    </ul>
  </div>
</section>
