.header {
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 1132px) {
        padding-top: 26px;
        padding-bottom: 34px;
    }

    
    
    & > .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        color: $textcolor;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.54px;
        
        @media screen and (max-width:1135px) {
            margin-right: auto;
        }
    }

    &__nav {
        display: none;

        @media screen and (min-width: 1132px) {
            display: block;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 24px;
        margin-left: 188px;
    }

    &__link {
        color: #111;

        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
    }

    &__wrap {
        margin-left: auto;
        display: none;
        align-items: center;
        gap: 18px;

        @media screen and (min-width:1136px) {
            display: flex;
        }
    }

    &__svg {
        fill: $textcolor;
    }

    &__items {
        display: flex;
    }
   
    &__burger {
        border: none;
        width: 28px;
        height: 28px;
        background-color: transparent;

        @media  screen and (min-width: 1136px) {
          display: none;
        }
        
    }
}
.menu {
    z-index: 1;
    position: fixed;
    top: 0; left: 0;
    padding: 156px 0 25px 85px;
    background-color: #1E1823;
    // display: flex;
    // justify-content: flex-end;
    max-width: 704px;
    height: 100%;
    width: 100%;
   
  
    &__button {
      background-color: transparent;
      position: absolute;
      top: 20px; right: 20px;
      width: 28px;
    height: 28px;
    border: none;
    }

    &__close {
        fill: #FFF;
        width: 20px;
        height: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
  &__link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;

  &:hover {
    color: #FD9222;
  }
  }

  &__social {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
 
&__svg {
    width: 22px;
height: 22px;
fill: #FFF;
}

  }
 .is-hidden {
    pointer-events: none;
    opacity: 1;
 }