.reviews {
  padding: 72px 0;
  background-color: $mainbackground;

  @media screen and (min-width: 704px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1136px) {
    padding: 128px 0;
  }
  &__title {
    color: $textcolor;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.72px;
    text-align: center;
    margin-bottom: 74px;

    @media screen and (min-width: 704px) {
      margin-bottom: 91px;
    }
    @media screen and (min-width: 1136px) {
      margin-bottom: 91px;
    }
  }
  &__span {
    color: $accentcolor;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.72px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 704px) {
      gap: 16px;
    }

    @media screen and (min-width: 1136px) {
      gap: 28px;
    }
  }
  &__item {

    &:first-child {
      background-color: $backgroundcolor;
      padding: 56px 18px 42px 18px;
      border-radius: 15px;
      box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
      position: relative;
      width: 360px;
      height: 213.2px;

      @media screen and (min-width: 704px) {
        background-color: $backgroundcolor;
        padding: 56px 16px 42px 16px;
        border-radius: 15px;
        box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
        position: relative;
        display: flex;
      }

      @media screen and (min-width: 1136px) {
        margin-right: 0;
        background-color: $backgroundcolor;
        padding: 56px 24px 42px 24px;
        border-radius: 15px;
        box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
        position: relative;
        display: flex;
      }
    }
    &:nth-child(2) {
      display: none;

      @media screen and (min-width: 704px) {
        margin-right: 0;
        background-color: $backgroundcolor;
        padding: 56px 16px 42px 16px;
        border-radius: 15px;
        box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
        position: relative;
        display: flex;
      }
      @media screen and (min-width: 1136px) {
        display: flex;
        padding: 56px 24px 42px 24px;

      }
    }
    &:nth-child(3) {
      display: none;

      @media screen and (min-width: 1136px) {
        background-color: $backgroundcolor;
        padding: 56px 24px 42px 24px;
        border-radius: 15px;
        box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
        position: relative;
        display: block;
      }
    }
  }
  &__name {
    color: $textcolor;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  &__text {
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.28px;
    width: 312px;
    margin-top: 24px;
    width: 312px;
  }

  &__img {
    position: absolute;
    bottom: 180px;
    left: 140px;
    width: 80px;
    height: 80px;
  }

  &__btn {
    color: $textcolor;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border: 1px solid $accentcolor;
    border-radius: 100px;
    background-color: $mainbackground;
    cursor: pointer;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__div {
    display: flex;
    flex-direction: column;
  }
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 13px;
  margin-bottom: 32px;

  @media screen and (min-width: 704px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1136px) {
    margin-bottom: 50px;
  }

  &__dot {
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: none;
  }
}

.slidem__dot {
  width: 28px;
  height: 13px;
  background-color: $accentcolor;
  border-radius: 100px;
  border: none;
}
