$textcolor:#111;
$accentcolor:#FD9222;
$backgroundcolor:#FFFFFF;
$sectionbackground:#1E1823;
$cookindseccolor:#D9D9D9;
$mainbackground:#FAFAFA;
$modalicons:rgba(17, 17, 17, 0.10);
$modaltext:rgba(64, 64, 64, 0.30);