<footer class="footer">
    <div class="container">
        <div class="footer__box">
        <h2 class="footer__title">exPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="footer__desc">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</p>
        <button class="footer__sub" id="fb">Subscribe</button>
    </div>
    <div class="footer__contain">
    <div class="footer__div">
        <h2 class="footer__chocolate"><span class="footer__color">Chocolate</span> a delicious cure for a bad day</h2>
        <address class="footer__address">
            <p class="footer__contant">Contact us</p>
            <a href="tel:380684439426" class="footer__link">+380 (68) 443-94-26</a>
            <br>
            <a href="mail:simplychoc@gmail.com " class="footer__link">simplychoc@gmail.com</a>
        </address>
    </div>

    <div class="footer__line"></div>

        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__a">Home</a></li>
            <li class="footer__item"><a href="#" class="footer__a">How it’s made?</a></li>
            <li class="footer__item"><a href="#" class="footer__a">Our products</a></li>
            <li class="footer__item"><a href="#" class="footer__a">Top sellers</a></li>
            <li class="footer__item"><a href="#" class="footer__a">Chocolate is loved</a></li>
        </ul>
    </div>
    </div>
</footer>