<div class="overlay is-hidden-reviews" data-modal-reviews>
  <div class="window">
    <form class="window__form">
      <h2 class="window__title">LEAVE A REVIEW ABOUT <span class="window__span">OUR CHOCOLATE</span></h2>
      <div class="window__wrap">
        <input type="text" class="window__input" placeholder="Name">
      </div>
      <div class="window__wrap">
        <input type="text" class="window__input" placeholder="Email">
      </div>
      <div class="window__wrap">
      <svg class="window__svg">
                    <use class="window__use" href="./img/symbol-defs.svg#icon-frame"></use>
                </svg>
        <input type="text" class="window__input" placeholder="Phone number">
        <p class="window__text">+380</p>
      </div>
      <textarea id="com" class="window__com" placeholder="Comment"></textarea>
      <button class="window__send">Send</button>
    </form>
    <button type="button" class="btn__close" data-modal-close-reviews>
        <svg class="btn__svg">
                    <use class="btn__use" href="./img/symbol-defs.svg#icon-closeblack"></use>
                </svg>
    </button>
  </div>
</div>
