<section class="sellers">
    <div class="container sellers__box">
        <h2 class="sellers__title"><SPAN class="sellers__span">TOP</SPAN> SELLERS</h2>
        <ul class="sellers__list">
            <li class="sellers__item">
                <picture>
                    <source srcset="./img/desctop/chocandnuts-desctop@1x.webp 1x, ./img/desctop/chocandnuts-desctop@2x.webp 2x" media="(min-width: 1136px)">
                    <source srcset="./img/tablet/chocandnuts-tablet@1x.webp 1x, ./img/tablet/chocandnuts-tablet@2x.webp 2x" media="(min-width: 704px)">
                    <source srcset="./img/mobile/chocandnuts-mobile@1x.webp 1x, ./img/mobile/chocandnuts-mobile@2x.webp 2x" media="(max-width: 703px)">
                    <img src="./img/chocandnuts.webp" alt="pieces of chocolate and nuts" class="sellers__img">
                </picture>
            </li>
            <li class="sellers__item">
                <picture>
                    <source srcset="./img/desctop/chocandleafes-desctop@1x.webp 1x, ./img/desctop/chocandleafes-desctop@2x.webp 2x"  media="(min-width: 1136px)">
                    <source srcset="./img/tablet/chocandleafes-tablet@1x.webp 1x, ./img/tablet/chocandleafes-tablet@2x.webp 2x" media="(min-width: 704px)">
                    <source srcset="./img/mobile/chocandleafes-mobile@1x.webp 1x, ./img/mobile/chocandleafes-mobile@2x.webp 2x," media="(max-width: 703px)">
                    <img src="./img/chocandleafes.webp" alt="pieces of chocolate and leafes" class="sellers__img">
                </picture>
            </li>
            <li class="sellers__item">
                <picture>
                    <source srcset="./img/desctop/chocandchoc-desctop@1x.webp 1x, ./img/desctop/chocandchoc-desctop@2x.webp 2x" media="(min-width: 1136px)">
                    <img src="./img/chocanddarkchoc.webp" alt="pieces of chocolate and cookies" class="sellers__img">
                </picture>
            </li>
        </ul>
        <div class="sellers__wrap">
        <p class="sellers__text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="sellers__button" type="button">
            <a href="#sellerslink" class="sellers__link" data-modal-open>Buy now</a>
        </button>
    </div>
    </div>
</section>