.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 704px) {
  .container {
    width: 704px;
  }
}
@media screen and (min-width: 1136px) {
  .container {
    width: 1136px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat";
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1132px) {
  .header {
    padding-top: 26px;
    padding-bottom: 34px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}
@media screen and (max-width: 1135px) {
  .header__logo {
    margin-right: auto;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1132px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 188px;
}
.header__link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
.header__wrap {
  margin-left: auto;
  display: none;
  align-items: center;
  gap: 18px;
}
@media screen and (min-width: 1136px) {
  .header__wrap {
    display: flex;
  }
}
.header__svg {
  fill: #111;
}
.header__items {
  display: flex;
}
.header__burger {
  border: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
}
@media screen and (min-width: 1136px) {
  .header__burger {
    display: none;
  }
}

.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 156px 0 25px 85px;
  background-color: #1E1823;
  max-width: 704px;
  height: 100%;
  width: 100%;
}
.menu__button {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  border: none;
}
.menu__close {
  fill: #FFF;
  width: 20px;
  height: 20px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu__link {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
.menu__link:hover {
  color: #FD9222;
}
.menu__social {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.menu__svg {
  width: 22px;
  height: 22px;
  fill: #FFF;
}

.is-hidden {
  pointer-events: none;
  opacity: 1;
}

.hero {
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
.hero__background {
  background-image: url(../img/hero-back.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero__text {
  display: flex;
  justify-content: flex-start;
  padding-top: 381px;
  margin-bottom: 32px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 121.429% */
  letter-spacing: -0.6px;
  text-align: start;
}
@media screen and (min-width: 704px) {
  .hero__text {
    font-size: 28px;
    line-height: 34px letter-spacing -0.84px;
  }
}
@media screen and (min-width: 1136px) {
  .hero__text {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
}
.hero__list {
  display: flex;
  gap: 14px;
}
.hero__button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background-color: #FD9222;
  border-radius: 100px;
}
@media screen and (min-width: 704px) {
  .hero__button {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1136px) {
  .hero__button {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.hero__sublist:last-child .hero__button {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #FFF;
}
.hero__subdiv {
  margin-top: 39px;
  padding-bottom: 28px;
  display: flex;
}
@media screen and (min-width: 704px) {
  .hero__subdiv {
    margin: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1136px) {
  .hero__subdiv {
    margin: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    align-items: center;
  }
}
.hero__subtext {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.42px;
  margin-right: 14px;
}
.hero__scrol {
  border-radius: 100px;
  padding: 8px;
}

.advantages {
  background-color: black;
  padding: 20px 0;
}
@media screen and (min-width: 704px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 18px;
}
.advantages__text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  width: 100%;
}
@media screen and (max-width: 354px) {
  .advantages__text {
    width: 300px;
  }
}
@media screen and (min-width: 355px) {
  .advantages__text {
    width: 308px;
  }
}
.advantages__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 38px;
  flex-direction: column;
}
@media screen and (min-width: 704px) {
  .advantages__list {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1136px) {
  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 88px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.advantages__symbol {
  fill: #FD9222;
  width: 32px;
  height: 32px;
}
.advantages__link {
  padding: 7px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  border: solid gray 1px;
  border-radius: 50%;
  height: 62px;
  width: 62px;
}
.advantages__item::after {
  display: none;
}
@media screen and (min-width: 704px) {
  .advantages__item:first-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1136px) {
  .advantages__item {
    position: relative;
  }
  .advantages__item:first-child {
    margin-right: 0;
  }
  .advantages__item::after {
    content: "";
    height: 124px;
    width: 1px;
    background-color: #D9D9D9;
    display: inline-block;
    position: absolute;
    left: 326px;
    top: 40px;
  }
  .advantages__item:last-child::after {
    display: none;
  }
}

.types {
  padding-top: 128px;
  padding-bottom: 128px;
}
.types__title {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
@media screen and (min-width: 704px) {
  .types__title {
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1136px) {
  .types__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.28px;
  }
}
.types__sublist:first-child {
  background-color: #FD9222;
  border: solid #FD9222 1px;
  border-radius: 15px;
}
.types__sublist:nth-child(2) {
  background-color: #FFF;
  border: solid #FD9222 1px;
  border-radius: 15px;
}
.types__sublist:nth-child(2) .types__text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.types__sublist:nth-child(3) {
  background-color: #1E1823;
  border: solid #FD9222 1px;
  border-radius: 15px;
}
.types__sublist:nth-child(3) .types__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.types__sublist:nth-child(4) {
  background-color: #FFF;
  border: solid #FD9222 1px;
  border-radius: 15px;
}
.types__sublist:nth-child(4) .types__text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.types__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 704px) {
  .types__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1136px) {
  .types__list {
    flex-wrap: nowrap;
    gap: 5px;
  }
}
.types__sublist {
  flex-basis: 100%;
  padding: 28px 55px;
  border: 1px solid red;
}
@media screen and (min-width: 355px) {
  .types__sublist {
    flex-basis: 355px;
  }
}
@media screen and (min-width: 704px) {
  .types__sublist {
    flex-basis: calc((100% - 32px) / 2);
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1136px) {
  .types__sublist {
    flex-basis: 25%;
    padding: 28px 32px;
  }
}
.types__titles {
  display: flex;
  margin-bottom: 50px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  justify-content: center;
}
.types__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-top: 36px;
}

.cooking {
  padding-top: 100px;
  padding-bottom: 41px;
  background-color: #FAFAFA;
  width: 100%;
}
.cooking__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1136px) {
  .cooking__wrap {
    display: block;
    padding-bottom: 36px;
    border-bottom: 51px solid #D9D9D9;
  }
}
.cooking__title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 32px;
}
@media screen and (min-width: 704px) {
  .cooking__title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__wrapper {
    display: flex;
    justify-content: center;
  }
}
.cooking__span {
  color: #FD9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
}
@media screen and (min-width: 704px) {
  .cooking__span {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.72px;
  }
}
.cooking__img {
  width: 335px;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(<path-to-image>) lightgray -158.445px -335.767px/187.796% 186.969% no-repeat;
}
@media screen and (min-width: 704px) {
  .cooking__img {
    width: 614px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__img {
    width: 600px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.cooking__box {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 704px) {
  .cooking__box {
    padding: 32px;
  }
}
.cooking__subtitle {
  width: 307px;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}
@media screen and (min-width: 704px) {
  .cooking__subtitle {
    width: 350px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__subtitle {
    margin-right: 102px;
  }
}
.cooking__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: disc;
  list-style-position: inside;
}
.cooking__item {
  width: 291px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 704px) {
  .cooking__item:first-child {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:first-child {
    width: 436px;
  }
}
@media screen and (min-width: 704px) {
  .cooking__item:nth-child(2) {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:nth-child(2) {
    width: 409px;
  }
}
@media screen and (min-width: 704px) {
  .cooking__item:nth-child(3) {
    width: 409px;
  }
}
@media screen and (min-width: 704px) {
  .cooking__item:nth-child(4) {
    width: 347px;
  }
}
@media screen and (min-width: 704px) {
  .cooking__item:last-child {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:last-child {
    width: 404px;
  }
}
@media screen and (min-width: 704px) {
  .cooking__item {
    width: 100%;
  }
}

.products {
  align-items: center;
  text-align: center;
}
.products__title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__color {
  color: #FD9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__list {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
}
.products__item {
  display: none;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products__item:nth-child(1) {
  display: block;
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(2) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    display: block;
  }
}
.products__name {
  margin-top: 8px;
  margin-bottom: 2px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.products__desc {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.products__price {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FAFAFA;
  margin-top: 18px;
  padding-right: 20px;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
.products__price:hover {
  background-color: #FD9222;
  color: white;
}

.slider {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
  background-image: url(./src/);
}
.slider__dot {
  width: 13px;
  height: 13px;
  border-radius: 100px;
  border: none;
}

.sellers {
  padding-top: 100px;
  background: #FAFAFA;
}
.sellers__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellers__title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  margin-bottom: 32px;
}
@media screen and (min-width: 704px) {
  .sellers__title {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}
.sellers__span {
  color: #FD9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
}
@media screen and (min-width: 704px) {
  .sellers__span {
    font-size: 24px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 704px) {
  .sellers__list {
    display: flex;
    gap: 16px;
  }
}
.sellers__item:first-child {
  margin-bottom: 142px;
}
@media screen and (min-width: 704px) {
  .sellers__item:first-child {
    margin-bottom: 0;
  }
}
.sellers__item:last-child {
  display: none;
}
@media screen and (min-width: 1136px) {
  .sellers__item:last-child {
    display: block;
  }
}
.sellers__img {
  border-radius: 15px;
}
.sellers__wrap {
  position: relative;
}
@media screen and (min-width: 704px) {
  .sellers__wrap {
    position: static;
    display: flex;
    gap: 236px;
    margin-top: 32px;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1136px) {
  .sellers__wrap {
    gap: 567px;
  }
}
.sellers__text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  width: 306px;
  position: absolute;
  bottom: 565px;
  left: -109px;
}
@media screen and (min-width: 704px) {
  .sellers__text {
    position: static;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1136px) {
  .sellers__text {
    width: 407px;
  }
}
.sellers__button {
  border-radius: 100px;
  padding: 14px 28px;
  background-color: #FD9222;
  border: none;
  margin-top: 20px;
}
@media screen and (min-width: 704px) {
  .sellers__button {
    padding: 14px 40px;
    margin-top: 0;
  }
}
.sellers__link {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 704px) {
  .sellers__link {
    font-size: 18px;
    width: 82px;
    display: block;
  }
}

.reviews {
  padding: 72px 0;
  background-color: #FAFAFA;
}
@media screen and (min-width: 704px) {
  .reviews {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1136px) {
  .reviews {
    padding: 128px 0;
  }
}
.reviews__title {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-align: center;
  margin-bottom: 74px;
}
@media screen and (min-width: 704px) {
  .reviews__title {
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1136px) {
  .reviews__title {
    margin-bottom: 91px;
  }
}
.reviews__span {
  color: #FD9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
}
.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 704px) {
  .reviews__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1136px) {
  .reviews__list {
    gap: 28px;
  }
}
.reviews__item:first-child {
  background-color: #FFFFFF;
  padding: 56px 18px 42px 18px;
  border-radius: 15px;
  box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
  position: relative;
  width: 360px;
  height: 213.2px;
}
@media screen and (min-width: 704px) {
  .reviews__item:first-child {
    background-color: #FFFFFF;
    padding: 56px 16px 42px 16px;
    border-radius: 15px;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    position: relative;
    display: flex;
  }
}
@media screen and (min-width: 1136px) {
  .reviews__item:first-child {
    margin-right: 0;
    background-color: #FFFFFF;
    padding: 56px 24px 42px 24px;
    border-radius: 15px;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    position: relative;
    display: flex;
  }
}
.reviews__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 704px) {
  .reviews__item:nth-child(2) {
    margin-right: 0;
    background-color: #FFFFFF;
    padding: 56px 16px 42px 16px;
    border-radius: 15px;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    position: relative;
    display: flex;
  }
}
@media screen and (min-width: 1136px) {
  .reviews__item:nth-child(2) {
    display: flex;
    padding: 56px 24px 42px 24px;
  }
}
.reviews__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1136px) {
  .reviews__item:nth-child(3) {
    background-color: #FFFFFF;
    padding: 56px 24px 42px 24px;
    border-radius: 15px;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    position: relative;
    display: block;
  }
}
.reviews__name {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.reviews__text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.28px;
  width: 312px;
  margin-top: 24px;
  width: 312px;
}
.reviews__img {
  position: absolute;
  bottom: 180px;
  left: 140px;
  width: 80px;
  height: 80px;
}
.reviews__btn {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  border: 1px solid #FD9222;
  border-radius: 100px;
  background-color: #FAFAFA;
  cursor: pointer;
}
.reviews__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__div {
  display: flex;
  flex-direction: column;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 13px;
  margin-bottom: 32px;
}
@media screen and (min-width: 704px) {
  .slide {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1136px) {
  .slide {
    margin-bottom: 50px;
  }
}
.slide__dot {
  width: 13px;
  height: 13px;
  border-radius: 100px;
  border: none;
}

.slidem__dot {
  width: 28px;
  height: 13px;
  background-color: #FD9222;
  border-radius: 100px;
  border: none;
}

.footer {
  padding-top: 62px;
}
.footer__box {
  background-image: url(./../img/subcribe.webp);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 63px;
}
.footer__title {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 62px;
}
.footer__desc {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 326px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer__sub {
  padding: 12px 28px;
  align-items: flex-start;
  gap: 14px;
  background-color: #FD9222;
  border: none;
  border-radius: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}
.footer__div {
  background: #1E1823;
  align-items: center;
  padding-bottom: 54px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__div {
    display: flex;
  }
}
.footer__address {
  margin-left: auto;
  margin-right: 148px;
  gap: 4px;
  margin-top: 32px;
}
.footer__color {
  color: #FD9222;
}
.footer__chocolate {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.48px;
  width: 300px;
  text-align: center;
  padding-top: 32px;
}
.footer__contant {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .footer__contant {
    margin-left: auto;
  }
}
.footer__address {
  padding-left: 20px;
}
.footer__line {
  width: 335px;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__link {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 4px;
  display: inline;
}
.footer__list {
  background: #1E1823;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    gap: 24px;
  }
}
.footer__a {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  padding-bottom: 18px;
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.is-hidden-reviews {
  opacity: 0;
  pointer-events: none;
}

.window {
  background-color: white;
  padding: 32px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s;
  text-align: start;
  border-radius: 15px;
}
@media screen and (min-width: 704px) {
  .window {
    padding: 40px;
  }
}
.window__title {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 255px;
  display: inline-block;
  margin-bottom: 32px;
}
@media screen and (min-width: 704px) {
  .window__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 40px;
    width: 298px;
  }
}
.window__span {
  color: #FD9222;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
@media screen and (min-width: 704px) {
  .window__span {
    font-size: 24px;
    line-height: 1.4;
  }
}
.window__wrap {
  display: flex;
  position: relative;
}
.window__input {
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  display: block;
  margin-bottom: 14px;
  padding: 10px 18px 10px 106px;
}
.window__input:last-child {
  padding: 14px 18px;
}
@media screen and (min-width: 704px) {
  .window__input {
    padding: 22px 24px 22px 177px;
    margin-bottom: 19px;
    width: 437px;
  }
  .window__input:last-child {
    padding: 22px 24px;
  }
}
.window__svg {
  width: 24px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  left: 14px;
}
@media screen and (min-width: 704px) {
  .window__svg {
    width: 32px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    top: 20px;
    left: 24px;
  }
}
.window__text {
  position: absolute;
  left: 53px;
  top: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.window__text::after {
  content: "";
  height: 24px;
  width: 2px;
  background-color: #D9D9D9;
  display: inline-block;
  position: absolute;
  left: 45px;
  bottom: -5px;
}
@media screen and (min-width: 704px) {
  .window__text {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    left: 73px;
    top: 24px;
    position: absolute;
  }
  .window__text::after {
    content: "";
    height: 32px;
    width: 2px;
    background-color: #D9D9D9;
    display: inline-block;
    position: absolute;
    left: 70px;
    bottom: -10px;
  }
}
.window__com {
  display: flex;
  width: 263px;
  padding: 14px 18px 60px 18px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}
@media screen and (min-width: 704px) {
  .window__com {
    padding: 22px 24px 93px 24px;
  }
}
.window__send {
  display: flex;
  padding: 12px 28px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #FD9222;
  border: none;
  color: #FFFFFF;
  margin-top: 18px;
}
@media screen and (min-width: 704px) {
  .window__send {
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
  }
}

.btn__close {
  width: 28px;
  height: 28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  cursor: pointer;
}
.btn__svg {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 704px) {
  .btn__svg {
    width: 28px;
    height: 28px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 2, 0.5);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #FAFAFA;
  border-radius: 15px;
  position: relative;
  padding: 32px 24px;
}
@media screen and (min-width: 704px) {
  .modal {
    padding: 48px 48.5px;
  }
}
.modal__title {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 704px) {
  .modal__title {
    font-size: 24px;
    line-height: 1.16;
  }
}
.modal__span {
  color: #FD9222;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  text-align: center;
}
@media screen and (min-width: 704px) {
  .modal__span {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 704px) {
  .modal__list {
    display: flex;
    gap: 16px;
  }
}
.modal__item:first-child {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 28px 32px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
@media screen and (min-width: 704px) {
  .modal__item:first-child {
    padding: 24px 20px 18px 20px;
    gap: 14px;
  }
}
.modal__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 704px) {
  .modal__item:nth-child(2) {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 24px 20px 18px 20px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
  }
}
.modal__item:last-child {
  display: none;
}
@media screen and (min-width: 704px) {
  .modal__item:last-child {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 24px 20px 18px 20px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
  }
}
.modal__button {
  padding: 8px 27px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FAFAFA;
}
.modal__button:hover {
  background-color: #FD9222;
}
.modal__button:hover > .modal__link {
  color: #FFFFFF;
}
.modal__link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
}
.modal__svglist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  gap: 13px;
}
@media screen and (min-width: 704px) {
  .modal__svglist {
    display: none;
  }
}
.modal__circlesvg {
  width: 13px;
  height: 13px;
  fill: rgba(17, 17, 17, 0.1);
}
@media screen and (min-width: 704px) {
  .modal__circlesvg {
    display: none;
  }
}
.modal__svgitem:first-child .modal__circlesvg {
  width: 28px;
}
@media screen and (min-width: 704px) {
  .modal__svgitem:first-child .modal__circlesvg {
    display: none;
  }
}
.modal__link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
}
.modal__signature {
  color: #111;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.24px;
  margin-top: 18px;
  margin-bottom: 8px;
  display: block;
}
@media screen and (min-width: 704px) {
  .modal__signature {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.modal__box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 704px) {
  .modal__box {
    flex-direction: row;
    gap: 21px;
  }
}
.modal__input {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.28px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  height: 45px;
}
@media screen and (min-width: 704px) {
  .modal__input {
    width: 246px;
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal__input:hover {
  border-color: #FD9222;
}
.modal__emailinput {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.28px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  height: 45px;
}
@media screen and (min-width: 704px) {
  .modal__emailinput {
    width: 513px;
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal__emailinput:hover {
  border-color: #FD9222;
}
.modal__phoneinput {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.28px;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  height: 45px;
  padding-left: 92px;
}
@media screen and (min-width: 704px) {
  .modal__phoneinput {
    width: 513px;
    height: 66px;
    padding: 17px 24px;
    padding-left: 177px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal__phoneinput:hover {
  border-color: #FD9222;
}
.modal__inputcard {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.28px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  height: 45px;
}
@media screen and (min-width: 704px) {
  .modal__inputcard {
    width: 513px;
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal__inputcard:hover {
  border-color: #FD9222;
}
.modal__wrap {
  position: relative;
}
.modal__numberbox {
  display: flex;
  position: absolute;
  gap: 8px;
  border-right: 1.5px solid rgba(64, 64, 64, 0.3);
  bottom: 12px;
  left: 10px;
  align-items: center;
}
@media screen and (min-width: 704px) {
  .modal__numberbox {
    gap: 18px;
    bottom: 17px;
    left: 24px;
  }
}
.modal__svgflag {
  width: 24px;
  height: 18px;
}
@media screen and (min-width: 704px) {
  .modal__svgflag {
    width: 32px;
    height: 32px;
  }
}
.modal__text {
  margin-right: 8px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 704px) {
  .modal__text {
    font-size: 18px;
    line-height: 1.22;
    margin-right: 32px;
  }
}
.modal__wrapper {
  position: relative;
}
.modal__svgcard {
  width: 24px;
  height: 16px;
  position: absolute;
  top: 15px;
  right: 22px;
}
@media screen and (min-width: 704px) {
  .modal__svgcard {
    width: 31px;
    height: 19px;
    top: 24px;
    right: 31px;
  }
}
.modal__textarea {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.28px;
  padding: 14px 18px 60px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
  width: 263px;
  resize: none;
}
@media screen and (min-width: 704px) {
  .modal__textarea {
    width: 513px;
    padding: 22px 24px 93px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal__textarea:hover {
  border-color: #FD9222;
}
.modal__submit {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  padding: 12px 28px;
  border: none;
  border-radius: 100px;
  background: #FD9222;
  display: flex;
  justify-content: first baseline;
  margin-top: 18px;
}
@media screen and (min-width: 704px) {
  .modal__submit {
    padding: 14px 40px;
  }
}

.button__close {
  border-radius: 15px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 14px;
}

.button__svg {
  width: 24px;
  height: 24px;
  fill: #111;
}
.button__svg:hover {
  fill: #FD9222;
}/*# sourceMappingURL=main.css.map */